<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/img.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Placeholder headline.</h1>
              <p>This is placeholder text this is placeholder text this is placeholder text this is placeholder text
              this is placeholder text this is placeholder text</p>
            </div><!-- .carousel-caption -->
          </div><!-- .container -->
        </div><!-- .item active -->
      </div><!-- .carousel-inner -->
</div><!-- #myCarousel -->