<div id="modalFlash">
  <% flash.each do |type, message| %>
  <div class="<%= twitterized_type(type) %> alert alert-dismissable">
    <%= message %>
  <button aria-hidden="true" class="close" data-dismiss="alert">×</button>
  </div>
  <% end %>
</div>