<section id="footer">
  
  <div class="container">
    <div class="row">
      <div class="inner-column clearfix">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h5 class="">Company</h5>
          <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Contact Us</a></li>
              </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h5 class="">Features</h5>
          <ul class="list-unstyled">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Property Search</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h5 class="">Top Properties Listed</h5>
          <ul class="list-unstyled">
                  <li><a href="#">No of Bedrooms????</a></li>
                  <li><a href="#">Areas???</a></li>
                  <li><a href="#">Type of Property?</a></li>
              </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h5 class="">Popular Searches</h5>
          <div class="product-tags clearfix">
            <a href="#">Douala</a>
            <a href="#">Yaounde</a>
            <a href="#">Limbe</a>
            <a href="#">Buea</a>
            <a href="#">Kribi</a>
            <a href="#">Kumba</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</section>

<section id="footer-bottom">

  <div class="container">
    <div class="row">
      <div class="inner-column clearfix">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="text-left">
            Data on sold prices provided by Land Registrar of The Republic of Cameroon.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="text-right">
            &copy; 2016 CamAcco. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>