<section id="footer">
  
  <div class="container">
    <div class="row">
      <div class="inner-column clearfix">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h5 class="">Company</h5>
          <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">API</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Contact Us</a></li>
              </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h5 class="">Features</h5>
          <ul class="list-unstyled">
            <li><a href="#">My Account</a></li>
            <li><a href="#">RealtyFinder</a></li>
                  <li><a href="#">Price Study</a></li>
                  <li><a href="#">Market Trend</a></li>
                  <li><a href="#">Email Alert</a></li>
                  <li><a href="#">IOS App</a></li>
                  <li><a href="#">Android App</a></li>
              </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h5 class="">Top Properties Listed</h5>
          <ul class="list-unstyled">
                  <li><a href="#">Apartments</a></li>
                  <li><a href="#">Condominiums</a></li>
                  <li><a href="#">Bungalows</a></li>
                  <li><a href="#">Semi-Detached Houses</a></li>
                  <li><a href="#">Terrace / Link Houses</a></li>
                  <li><a href="#">Serviced Residence</a></li>
                  <li><a href="#">Offices</a></li>
              </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h5 class="">Popular Searches</h5>
          <div class="product-tags clearfix">
            <a href="#">Bukit Jalil</a>
            <a href="#">New York</a>
            <a href="#">Kuala Lumpur</a>
            <a href="#">Kristal View</a>
            <a href="#">Cyberjaya</a>
            <a href="#">Kyoto</a>
            <a href="#">Putrajaya</a>
            <a href="#">Damansara Perdana</a>
            <a href="#">USJ Heights</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</section>

<section id="footer-bottom">

  <div class="container">
    <div class="row">
      <div class="inner-column clearfix">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="text-left">
            Data on sold prices provided by Awesome Land Registrar of Country.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="text-right">
            &copy; 2015 zRealty Ptd. Ltd. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>