<div class="container-fluid">
    <div class="row-fluid" style="background-color: black">
        <div class="span3 centering text-center" style="background-color: black">
            <%= image_tag "/img/under_construction.jpg" %>
        </div>
    </div>
</div>