
/*======================== CUSTOM STYLING ==============================*/
.cam-acco {
    padding: 18px 0 8px;
    border-bottom: 1px solid #dddddd;
}

.navbar {
    margin-top: 0px;
    margin-bottom: 0px;

}

.navbar-reduce-height {
  
}



.navbar .navbar-nav > li a.register {
  padding: 7px 16px !important;
  border: 1px solid #a7abb5;
  color: #e74c3c;
  margin-left: 10px;
}