
/*======================== CUSTOM STYLING ==============================*/
.cam-acco {
    padding: 18px 0 8px;
    border-bottom: 1px solid #dddddd;
}

.navbar {
    margin-top: 0px;
    margin-bottom: 0px;
}


.navbar .navbar-nav > li a.register {
  padding: 7px 16px !important;
  border: 1px solid #a7abb5;
  color: #e74c3c;
  margin-left: 10px;
}

/* Mini-search */
.mini-search-box {
  margin-right: 40px;
}

/* Extending CSS */
html, body{height:100%; margin:0;padding:0}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}